
  // .card {
  //   background-color: #f9f9f9;
  //   border: 1px solid #ddd;
  // }

  // ::ng-deep .mat-select-trigger {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  // }
  
  .container {
    max-width: 800px;
    margin: auto;
  }
  
  .custom-red-button {
    background-color: rgb(232, 29, 29);
    color: white;
  }
  .custom-red-button:hover {
    background-color: rgb(86, 58, 58);
    color: white;
  }
  